body, html {
  font-family: 'Pontano Sans', sans-serif;
}

header {
  height: 100px;
  width: auto;
  background-color: #e6e6e6;
  border-bottom: 1px solid #000;
}

h1 {
  color: silver;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  text-shadow: 2px 2px #103b89;
}

input {
    border: 1px solid #C0C0C0;
    padding: 5px 5px;
    font-size: 15px;
    width: 100px;
    margin-right: 5px;
    color: #000;
}

input#id{
    border: 1px solid #C0C0C0;
    padding: 5px 5px;
    width: 50px;
    font-size: 15px;
    color: #000;
}

button {
  border: 1px solid #000;
  background-color: #e6e6e6;
  padding: 5px 5px;
  font-size: 15px;
}

.nav {
  padding: 10px 0 10px 0;
}
nav.nav {
  padding-left: 275px;
}

#salaryTable {
  border-collapse: collapse;
  width: 100%;
}

#salaryTable td, #salaryTable th {
  border: 2px solid #ddd;
  padding: 8px;
}

#salaryTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* #salaryTable tr:hover {
  background-color: #ddd;
} */

#salaryTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #103b89;
  color: white;
}

#dataInput {
  padding: 10px 10px;
  width: 80%;

}

#main {
  border: 1px solid #000;
}

#deleteRow {
  margin: 10px 5px;
}

#annualExpense {
  width: 200px;
  margin-top: 10px;
}
